<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.net>
		<mailSettings>
			<smtp from="dennyad036@gmail.com">
				<network host="smtp.gmail.com" port="587" userName="dennyad036@gmail.com" password="ebsx gpdb xnph tevh" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
	<appSettings>
		<add key="INTERVAL" value="5" />
	</appSettings>
	<connectionStrings>
		<add name="CON" connectionString="Data Source=192.168.2.16;Initial Catalog=demoprojectden;User Id=sa;Password=v0x123#" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>